# ログファイル
!/logs/
/logs/*
!/logs/frontend/
/logs/frontend/*
!/logs/frontend/.gitkeep
!/backend/
/backend/*
!/backend/logs/
/backend/logs/*
!/backend/logs/.gitkeep

# VSCode 設定
!/.vscode/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json.default
